<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRESIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="container">
        <h2>PRE-S.I.T Scan</h2>

        <div class="button-container">
            <button id="edit-btn" class="btn">Enable Editing</button>
            <button id="submit-btn" class="btn" disabled>Submit Changes</button>
        </div>

        <p id="row-count">Total Rows: 0</p> 

        <div class="table-container">
            <table id="data-table">
                <thead>
                    <tr id="filter-row"></tr>
                    <tr id="table-header"></tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
